.property-page {
  padding: 1rem;
  font-family: "Segoe UI", sans-serif;
  color: #333;
}

.property-header {
  position: relative;
  margin-bottom: 30px;
}

.carousel {
  position: relative;
  width: 100%;
  max-height: 450px;
  overflow: hidden;
}

.carousel-image-wrapper {
  animation: fadeSlide 0.5s ease-in-out;
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.property-main-image {
  width: 100%;
  height: 400px;
  object-fit: fill;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}

.carousel button.prev,
.carousel button.next {
  color: #0c646f;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.7);
  border: none;
  font-size: 2rem;
  padding: 5px 18px 7px 18px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.3s;
  z-index: 10;
}

.carousel button.prev {
  left: 15px;
}

.carousel button.next {
  right: 15px;
}

.property-details2 {
  margin-top: 2rem;
  padding: 1rem;
}

.property-details2 h2 {
  padding-bottom: 1.1rem;
  border-bottom: 2px solid #004d40;
  padding-left: 7.3rem;
}

.details-grid {
  width: 79%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
  gap: 1.2rem;
  margin-top: 1rem;
  margin-left: 7.3rem;
}

.details-grid p i {
  font-size: 1.1rem;
  color: gold;
}

.status {
  color: #32d937;
  font-weight: bold;
}

.details-buttons {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  margin-left: 7.3rem;
}

@media (max-width: 768px) {
  .details-grid {
    margin-left: 0rem;
  }
  .details-grid p {
    width: 70%;
  }
  .details-buttons {
    margin-left: 0rem;
  }
  .property-details2 h2 {
    padding-left: 0rem;
  }
}

.details-buttons button {
  padding: 0.5rem 1.5rem;
  border: none;
  background: #0c646f;
  color: #fff;
  cursor: pointer;
  border-radius: 9px;
  transition: 0.7s;
}

#schdl_insp {
  border: 1px solid #0c646f;
  background: #fff;
  color: #0c646f;
  transition: 0.7s;
}

.details-buttons button:hover,
#schdl_insp:hover {
  background: #44bfd0;
  color: #fff;
  border: 1px solid #44bfd0;
}

.property-description,
.property-map {
  margin-top: 2rem;
  padding: 1rem;
}

.property-description h2,
.property-map h2 {
  padding-bottom: 1.1rem;
  border-bottom: 2px solid #004d40;
  padding-left: 7.3rem;
}

.property-description p {
  width: 80%;
  margin-left: 7.2rem;
  margin-top: 2rem;
  background: #3ebbca;
  padding: 1.3rem 1.3rem 3rem 1.3rem;
  border-radius: 6px;
  color: #d4f0f0;
  line-height: 1.4rem;
}

@media (max-width: 768px) {
  .property-description p {
    width: 100%;
    margin-left: 0rem;
  }
  .property-description h2,
  .property-map h2 {
    padding-left: 0rem;
  }
}

.property-map p {
  padding-top: 2%;
  margin-left: 7.2rem;
}

.property-map p i {
  color: #3ebbca;
}

.map-image {
  margin-left: 7.2rem;
  padding-top: 2%;
}

.map-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  margin-left: 47.7rem;
}

.map-buttons button {
  padding: 0.5rem 1.5rem;
  border: none;
  background: #0c646f;
  color: #fff;
  cursor: pointer;
  border-radius: 9px;
  transition: 0.7s;
}

.map-buttons button:hover {
  background: #44bfd0;
  color: #fff;
  border: 1px solid #44bfd0;
}

@media (max-width: 768px) {
  .property-map p {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 0rem;
  }
  .map-image {
    margin-left: 0rem;
  }
  .map-image iframe {
    width: 100%;
  }
  .map-buttons {
    margin-left: 1.3rem;
  }
}

.property-payment {
  margin-top: 2rem;
  padding: 1rem;
  font-family: sans-serif;
  position: relative;
}

.property-payment h2 {
  padding-bottom: 1.1rem;
  border-bottom: 2px solid #004d40;
  padding-left: 7.3rem;
}

.property-payment p {
  width: 80%;
  padding-top: 2%;
  margin-left: 7.2rem;
}

.payment-warning {
  margin-top: 0.5rem;
  font-size: 0.95rem;
}

.payment-warning span {
  color: red;
}

.rent-btn {
  padding: 0.5rem 2.5rem;
  border: none;
  background: #0c646f;
  color: #fff;
  cursor: pointer;
  border-radius: 9px;
  transition: 0.7s;
  margin-top: 3rem;
  margin-left: 63.7rem;
}

.rent-btn:hover {
  background: #44bfd0;
  color: #fff;
  border: 1px solid #44bfd0;
}

@media (max-width: 768px) {
  .property-payment h2 {
    padding-left: 0rem;
  }

  .property-payment p {
    width: 100%;
    margin-left: 0rem;
  }
  .rent-btn {
    margin-left: 0rem;
  }
}
